*.iml
.fleet
.kotlin
.gradle
**/build/
/composeApp/release/
/iosApp/Pods/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
iosApp/iosApp.xcworkspace/contents.xcworkspacedata
